# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/.next
/out

# misc
.DS_Store
*.local
.next
storybook-static

# env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# storybook cache
/.storybook-cache

# vercel
.vercel
